body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
}

.topnav {
    width: 100%;
    align-items: center;
    display: flex;
    box-shadow: -1px 2px 17px;
}

.topnav h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8%;
    margin-bottom: 25px;
    color: rgb(34, 33, 33);
}

.fa-shopping-cart {
    color: black;
    float: right;
}

.name {
    width: 20%;
}

.btn-home {
    background: #0b79bf;
    height: 1rem;
    padding: 20px;
}

.btn-home .back {
    padding: 3px 10px;
    background: #494949;
    color: #fff;
    cursor: pointer;
    border: none;
}

.search {
    background: #0b79bf;
    height: 3rem;
    padding: 20px;
    display: flex;
}

.search input {
    margin-left: 10%;
    width: 60%;
    padding: 14px 16px;
    border-radius: 25px;
    border: 1px solid;
}

.breadcrumb {
    margin-left: 2%;
}


.product-cards {
    display: flex;
}

.desktop {
    padding-left: 400px;
    float: right;
    display: flex;
    align-items: center;
}

.desktop-links a {
    border-right: 1px solid black;
    padding: 3px 15px;
    font-size: .82rem;
    color: black;
}

.cart {
    padding: 13px;
    margin-left: 2rem;
}

.btn-cart {
    background-color: #0b79bf;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 14px 21px;
    color: white;
}

.container-desktop {
    padding-left: 298px;
    width: 50%;
}

.main-panel {
    display: flex;
}

.panel-left {
    padding: 5px;
    border: none;
    width: 60%;
    display: flex;
    margin: 2%;
    background-color: #fff;
}

.panel-product-left {
    padding: 10px 30px;
    width: 20%;
    border: none;
    margin: 1.8%;  
}

.panel-product-info-left {
    margin: -1.2%;
    padding: 20px 30px;
}

.panel-product-info-left h1 {
    color: #4d4d4f;
    font-size: .93846rem;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 0;
}

.panel-product-info-left p {
    font-size: .83rem;
}

.product-info {
   padding: 2rem; 
}

.quantity {
    /* background: #a7a5a5; */
    height: 3rem;
    font-size: 17px;
    width: 55px;
    padding: 4px 6px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #0b79bf;
}

.panel-right {
    padding: 5px;
    border: none;
    width: 29%;
    display: flex;
    margin: 2%;
    background-color: #fff;
}

.panel-product-right {
    padding: 10px 30px;
    width: 20%;
    border: none;
    margin: 1.8%;  
}

.panel-product-info-right {
    margin: -1.2%;
    padding: 11px 8px;
    width: 100%;
}

.panel-product-info-right h1 {
    color: #4d4d4f;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 0;
}

.panel-product-info-right h3 {
    font-size: .95rem;
    width: 70%;
}

.panel-price {
    display: flex;
    align-items: center;
    margin-bottom: 2.5%;
}

.panel-price h2 {
    font-weight: 700;
    font-size: .92rem;
    float: right;
    width: 30%;
    color: #88c309;
}

.checkout {
    padding: 14px 20px;
    width: 100%;
    background-color: #1c8644;
    border: none;
    color: #ffffff;
    margin-bottom: 1.5%;
    cursor: pointer;
}

.wishlist {
    padding: 14px 20px;
    width: 100%;
    background-color: #918f8f;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 14px 20px;
    display: block;
    text-decoration: none;
}

.footer {
    padding: 3rem;
    margin-top: 4rem;
    background-color: #0b79bf;
    color: black;
}

.contact {
    margin-left: 8.666%;
}

.row {
    display: flex;
}

.row a {
    font-size: .95rem;
    color: black;
}

.newsletter {
    padding-left: 200px;
    width: 30%;
}

.newsletter input {
    padding: 14px 35px;
    border: none;
    border-radius: 15px;
}

.newsletter h3 {
    font-size: .95rem;
}

.subscribe {
    padding: 10px 16px;
}

.description {
    margin: 2.2%;
    width: 70%;
    background: #fff;
    margin-bottom: 24px;
    padding: 24px;
}

.description-content h3 {
    font-size: .97rem;
}

.description-content p {
    color: #5f5f60;
    font-weight: 500;
    line-height: 1.38;
    margin-bottom: 15px;
    word-break: break-word;
}

.product-info-card {
    margin: 2.2%;
    background: #fff;
    padding: 24px;
    width: 70%;
}

.product-info-card h2 {
    font-size: .97rem;
}

.product-info-row {
    border-bottom: 1px solid #dadada;
    background-color: rgba(0,0,0,0);
}

td.title-cell {
    width: 20px;
}

table {
    border-collapse: collapse;
}

.title-cell {
    background-color: #f4f4f4;
    border: solid 1px #dadada;
    color: #5f5f60;
    font-size: .92308rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 9px 40px;
}

.title-info  {
    background-color: #fff;
    border: solid 1px #dadada;
    color: #5f5f60;
    font-size: .92308rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 9px 20px;
    vertical-align: top;
    width: 338px;
}











