body {
    margin: 0;
    background-color: #ddd;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

a {
    text-decoration: none;
}

* {box-sizing: border-box;}

.tab {
    float: left;
    border: 1px solid #ccc;
    background: #f1f1f1;
    width: 20%;
    height: 600px;
}

.tab button {
    display: block;
    background: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    transition: 300ms;
}

.tab button:hover {
    background: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    padding: 0 12px;
    border: 1px solid #ccc;
    width: 77%;
    border-left: none;
    height: 600px;
}






















