body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: .92rem;
}

.topnav {
    background-color: #f3f3f3;
    width: 100%;
    align-items: center;
    display: flex;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ccc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav label {
    font-size: 19px;
    padding-left: 18px;
    padding-bottom: 30px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 300ms;
}
  
.sidenav a:hover {
    color: #f1f1f1;
    /* background: #2c2d3f; */
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.name {
    width: 20%
}

.fa-shopping-cart {
    color: black;
    float: right;
}

.desktop {
    padding-left: 394px;
    float: right;
    display: flex;
    align-items: center;
}

.desktop select {
    border: none;
    background: transparent;
    cursor: pointer;
}

.desktop option {
    cursor: pointer;
}

.desktop-links a {
    border-right: 1px solid black;
    padding: 3px 15px;
    font-size: .82rem;
    color: black;
}
.container-desktop {
    padding-left: 298px;
    width: 50%;
}

.btn-desktop {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn-desktop:hover {
    opacity: 1;
    background-color: #777777;
}

.btn-desktop a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.cart {
    padding: 13px;
    margin-left: 2rem;
}

.btn-cart {
    background-color: #0b79bf;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    color: white;
}

.topnav h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8%;
    margin-bottom: 25px;
    color: rgb(34, 33, 33);
}


.search {
    background: #0b79bf;
    height: 3rem;
    padding: 20px; 
}

.search input {
    margin-left: 20%;
    /* width: 60%; */
    width: 528px;
    padding: 14px 16px;
    border-radius: 5px;
    border: none;
    /* border: 1px solid #777777; */
}

.search .search-btn {
    height: 44px;
    line-height: 53px;
    width: 62px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    left: 760px;
    align-items: center;
    background: #333333;
    position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 0 5px 5px 0;
    
    transition: all 0.4s ease;
}

.breadcrumb {
    margin: 2%;
    content: "";
    height: 25px;
}

.breadcrumb ul {
    padding: 7px;
    display: flex;
    gap: 13px;
    list-style: none;
}

.breadcrumb ul a {
    color: #333333;
    font-size: 17px;
    
}

.product-container {
    background: #f3f3f3;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.product-container h2 {
    padding-left: 20px;
    padding-top: 25px;
}

.product-container .product-info {
    padding-left: 20px;
}

.product-info {
    display: flex;
}

.product-info .product-img {
    width: 30%;
}

.product-info .color-container {
    display: flex;
    align-items: center;
}

.product-info .color-text {
    font-size: 12px;
    font-weight: 400;
}

.product-info .colors {
    margin-left: 10px;
    display: flex;
}

.product-info .yellow{
    background: rgb(230, 230, 39);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #818181;
}

.product-info .navy-blue {
    margin-left: 5px;
    background: #0a2342;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #818181;
}

.product-info .tomato {
    margin-left: 5px;
    background: tomato;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #818181;
}

.product-img img {
    width: 320px;
}

.product-container .product-content {
    width: 40%;
    padding-left: 45px;
}

.product-content h4 {
    font-weight: 600;
    color: #0b79bf;
}

.product-content p {
    color: #333;
    margin: 0;
}

.product-content .product-price {
    font-size: 30px;
    color: #333;
    margin-top: -20px;
    margin-bottom: -20px;
    font-weight: 700;
}

.product-quantity-selector {
    display: flex;
    align-items: center;
    padding-left: 64%;
} 

.product-quantity-selector .quality-selector-text {
    color: #0b79bf;
    font-size: 15px;
}

.product-quantity-selector .btn-minus {
    padding: 14px 16px;
    border: none;
    font-size: 25px;
    color: #0b79bf;
}

.product-quantity-selector input {
    text-align: center;
    width: 40px;
    border: none;
    background: transparent;
    font-size: 18px;
}

.product-quantity-selector .btn-add {
    padding: 14px 16px;
    border: none;
    font-size: 25px;
    color: #0b79bf;
}

/* Accordion styles */
.tabs {
    border-radius: 8px;
    padding-top: 20px;
    overflow: hidden;
    /* box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5); */
}

.tab {
    width: 100%;
    color: #333;
    overflow: hidden;
}

.tab-label {
    border-left: none;
    border-right: none;
    border-top: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
}

.tab-label:hover {
    background: #ddd;
    color: #333;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }







